<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<!--navigation bar-->
<nav class="navbar">
    <!--    container grid-->
    <div class="navbar__container grid">
        <!--        logo in the top left corner-->
        <a href="/"><img src="assets/my_smart_home-logo.png" alt="Logo MySmartHome" class="navbar__logo"></a>
        <!--        desktop menu -->
        <div class="menu">
            <!--            class active added to highlight current page -->
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/add-device">Add</a>
            <a href="/status">Status</a>
            <a href="/control">Control</a>
            <a href="/delete">Delete</a>
        </div>
    </div>
</nav>

<section class="about-section">
    <h1 class="heading">About MySmart<span>Home</span></h1>
    <p>MySmart<span>Home</span> is a home automation or domotics, the automation for a home, sometimes called a smart home or smart
        house. MySmart<span>Home</span> automation system will monitor and/or control home attributes such as lighting, climate,
        entertainment systems, and appliances. It may also include home security such as access control and alarm
        systems.</p>
    <p>The software allows the customization of all your devices as mush as you like.</p>
    <p>It conveniently stores the data in the database and allows you full control of your home.</p>
</section>
<!--footer-->
<footer class="lower-footer">
    <p class="copyright">&copy By <span>Dmytro Bogdan</span>, University of London.</p>
</footer>

<link rel="stylesheet" href="./css/about.css">

</body>
</html>