<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add device</title>
</head>
<body>
<!--navigation bar -->
<nav class="navbar">
    <!--    container grid-->
    <div class="navbar__container grid">
        <!--        logo in the top left corner-->
        <a href="/"><img src="assets/my_smart_home-logo.png" alt="Logo MySmartHome" class="navbar__logo"></a>
        <!--        desktop menu -->
        <div class="menu">
            <!--            class active added to highlight current page -->
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/add-device">Add</a>
            <a href="/status">Status</a>
            <a href="/control">Control</a>
            <a href="/delete">Delete</a>
        </div>
    </div>
</nav>
<script>
    //save devices so that their traits are available on the page when handling events
    let devices = <%- JSON.stringify(devicesArr) %>;
</script>
<section class="form-section">
    <h1 class="form-heading">Add devices to your MySmartHome</h1>
    <form action="./added" id="add-device" class="add-device-form" method="POST" onsubmit="return (runValidityChecks());">
        <label for="types-dropdown">Select the device type to be added: </label><br><br>
        <select name="deviceType" id="types-dropdown" class="types-dropdown"
                onchange="getTraits(this.value, devices)">
            <option value="null">Select device type</option>
            <% devicesArr.forEach((e) => { %>
                <option value="<%= e.name %>"><%= e.name %></option>
            <% }) %>
        </select>
        <br><br>
<!--        in this div the data will appear dynamically-->
        <div id="device-traits"></div>
    </form>
</section>


<!--footer-->
<footer class="lower-footer">
    <p class="copyright">&copy By <span>Dmytro Bogdan</span>, University of London.</p>
</footer>

<link rel="stylesheet" href="./css/add-device.css">
<script src="./js/displayDeviceOptions.js"></script>
<script src="./js/addFormValidation.js"></script>

</body>
</html>