<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add device</title>
</head>
<body>
<!--navigation bar -->
<nav class="navbar">
    <!--    container grid-->
    <div class="navbar__container grid">
        <!--        logo in the top left corner-->
        <a href="/"><img src="assets/my_smart_home-logo.png" alt="Logo MySmartHome" class="navbar__logo"></a>
        <!--        desktop menu -->
        <div class="menu">
            <!--            class active added to highlight current page -->
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/add-device">Add</a>
            <a href="/status">Status</a>
            <a href="/control">Control</a>
            <a href="/delete">Delete</a>
        </div>
    </div>
</nav>

<section class="operation-result">
    <h1 class="result-name"><%= result.header %></h1>
    <p><%= result.body %></p>
    <p>Press OK to return to the previous page.</p>
    <button class="orange-button" onclick="location.replace(document.referrer);">OK</button>
</section>


<!--footer-->
<footer class="lower-footer">
    <p class="copyright">&copy By <span>Dmytro Bogdan</span>, University of London.</p>
</footer>

<link rel="stylesheet" href="./css/result.css">

</body>
</html>