/*reset the standard browser css*/
@import "css-libs/normalize.css";
/*common css elements*/
@import "css-modules/main.css";
/*navigation menu*/
@import "css-modules/navigation.css";
/*footer*/
@import "css-modules/footer.css";
/*toggle on/off*/
@import "css-modules/toggle.css";

.control-section {
    text-align: center;
    margin-bottom: 80px;
}

.form-heading {
    margin-top: 100px;
}

.types-dropdown {
    padding: 0.5rem 1rem;
}

.toggle-wrapper {
    text-align: center;
    grid-template-columns: 4fr 3fr;
    grid-gap: 1rem;
    width: 40%;
    margin: 0 auto;
}

.type-heading {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: mediumblue;
}

.field-heading {
    margin: auto 0;
}

* input[type = "number"] {
    width: 50px;
    margin: auto 0 auto auto;
    padding: 0.5rem 1rem;
}

* input[type = "text"] {
    width: 100%;
    padding: 0.5rem 1rem;
}

.submit-button {
    grid-column: 1/3;
    width: fit-content;
    margin-top: 50px;
}